* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
div h1 {
  margin: 10px;
}
div span {
  margin: 0 10px;
  font-size: 25px;
}
div button {
  font-size: 15px;
  background-color: bisque;
  padding: 10px;
  border-radius: 30%;
}
div button:hover {
  cursor: pointer;
  background-color: rgb(130, 18, 90);
}
